
/*Pimera fila*/

/*Primera colummna*/
.row1col1{
    margin: 10px;
    flex-direction: row;
    display: flex;
    gap: 5px;
}
.row1col1 a{
    text-decoration: none;
    color: gray;
}

/*Segunda columna*/
.row1col2{
    flex: 4 1 auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
}

.rowLaptopIcon svg{
    width: 30px;
    height: 30px;
}

.rowphoneIcon svg{
    width: 30px;
    height: 30px;
}

/*Tercera columna*/
.row1col3btn{
    background-color: #7952B3;
}
div.btn-group{
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.row1col3IconX {
    width: 30px;
    height: 30px;
}



/*Segunda fila*/
.geoIcon svg{
    align-items: baseline;
}


/*quinta fila  fila*/
div.row5{
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

div.row5Img1 img{
    height: 300px;
}

/*Onceava fila*/
div.row11{
    margin-left: 180px;
}